@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/gallery-card.scss";

#section-browse-artwork {
  text-align: center;

  .gallery-card {
    &.card-action {
      span {
        display: inline-block;

        &.icon-circle {
          display: inline-flex;
          width: 48px;
          height: 48px;
          border: 2px solid $gray-light;
          border-radius: 24px;
          align-items: center;
          justify-content: center;
          margin-left: 16px;
        }
      }

      &:hover {
        color: $gray-dark;
        box-shadow: none;

        span.icon-circle {
          color: white;
          background-color: $gray-dark;
          border-color: $gray-dark;
        }
      }
    }
  }
}
