@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/gallery-card.scss";

#section-browse-artwork {
  text-align: center;
  margin: 40px 0 120px 0;

  h3 {
    margin-bottom: 64px;
  }

  .gallery-card {
    position: relative;
    line-height: 0;

    .text {
      line-height: 1.4;
    }

    .center {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    h4 {
      color: $gray-dark;
      position: absolute;
      top: 24px;
      left: 32px;
      font-size: 1.1rem;
      line-height: 1.4;

      &.white {
        color: white;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-browse-artwork {
    margin: 0;
  }
}
