@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/gallery-card.scss";

#section-browse-artwork {
  text-align: center;

  .gallery-card {
    &.card-action {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        &.icon-circle {
        }
      }

      &:hover {
      }
    }
  }
}
