@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";

#section-browse-artwork {
  .gallery-card {
    margin-top: 32px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.full img {
      border-radius: 20px;
    }

    &.card-action {
      &:hover {
        color: $blue-medium;

        span.icon-circle {
          border-color: $blue-medium;
        }
      }

      span {
        display: inline-block;

        &.icon-circle {
          display: inline-flex;
          width: 48px;
          height: 48px;
          border: 2px solid $gray-light;
          border-radius: 24px;
          align-items: center;
          justify-content: center;
          margin-left: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #section-browse-artwork {
    .gallery-card {
      height: 438px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-browse-artwork {
    .gallery-card {
      height: 438px;
    }
  }
}
