@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";

#section-hero {
  background-color: #3d80d1;
  height: 800px;
  position: relative;
  text-align: center;

  .doodle-background {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;

    .doodle-wrapper {
      width: 1600px;
      height: 800px;
    }
  }

  .hero-content {
    margin-top: 296px;
  }

  .hero-text {
    font-size: 2.67rem;
    line-height: 1.3;
    font-weight: 200;
    color: white;
  }

  .hero-actions {
    margin-top: 50px;
  }
}

@include media-breakpoint-down(md) {
  #section-hero {
    background-color: #3d80d1;
    height: 600px;
    position: relative;
    text-align: center;

    .doodle-background {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;

      .doodle-wrapper {
        width: 11200px;
        height: 600px;
      }
    }

    .hero-content {
      margin-top: 216px;
    }

    .hero-text {
      font-size: 2.4rem;
    }
  }
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
