@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";

#section-hero {
  background-color: #3d80d1;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;

  .doodle-background {
    width: 1600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    .doodle-wrapper {
      width: 1600px;
      height: 800px;
    }
  }

  .hero-text {
    font-size: 2.67rem;
    line-height: 1.3;
    font-weight: 200;
    color: white;
  }

  .hero-content {
    padding: 240px;
  }

  .hero-actions {
    margin-top: 50px;
  }
}

@include media-breakpoint-down(md) {
  #section-hero {
    .doodle-background {
      width: 1200px;

      .doodle-wrapper {
        width: 1200px;
        height: 600px;
      }
    }

    .hero-content {
      padding: 160px;
    }

    .hero-text {
      font-size: 2.2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-hero {
    .doodle-background {
      width: 800px;

      .doodle-wrapper {
        width: 800px;
        height: 400px;
      }
    }

    .hero-content {
      padding: 120px;
    }

    .hero-text {
      font-size: 1.4rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  #section-hero {
    .hero-content {
      padding: 64px;
    }
  }
}
