@import "../../../styles/bootstrap-grid-custom.scss";

#section-hero {
  background-image: url("/images/intro_bg.png");
  background-size: 720px;
  background-repeat: no-repeat;
  background-position: calc(50% + 268px) 50%;
  padding: 20px 0;

  .hero-text {
    font-size: 2.67rem;
    line-height: 1.3;
    font-weight: 200;
    color: #646d7b;
  }

  .hero-actions {
    margin-top: 50px;
  }

  .doodle-wrapper {
    position: relative;
    height: 750px;
  }

  #hero-doodle {
    position: absolute;
    top: -120px;
    left: 0;
    width: 660px;
    height: 990px;
  }
}

@include media-breakpoint-down(md) {
  #section-hero {
    .hero-text {
      font-size: 2.4rem;
    }

    .hero-actions {
      margin-top: 30px;
    }

    .doodle-wrapper {
      height: 610px;
    }

    #hero-doodle {
      top: -100px;
      width: 540px;
      height: 810px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-hero {
    padding-bottom: 80px;

    .hero-text {
      font-size: 1.9rem;
    }

    .doodle-wrapper {
      height: 520px;
    }

    #hero-doodle {
      top: -100px;
      left: -70px;
      /* 375px */
      width: 480px;
      height: 720px;
    }
  }
}
