@import "../../../styles/bootstrap-grid-custom.scss";
@import "../../../styles/colors.scss";

#section-how-it-works {
  padding: 120px 0;

  h3 {
    text-align: center;
  }

  #steps {
    margin-top: 40px;
  }

  .step-box {
    text-align: center;
    padding: 20px 60px;

    .step-number {
      color: #121212;
      font-size: 1.3rem;
      display: inline-flex;
      width: 48px;
      height: 48px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &.one {
        position: relative;
        overflow: hidden;
        z-index: 0;

        &:before {
          content: "";
          width: 80px;
          height: 80px;
          background-color: #fca5b8;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          top: 12px;
          left: -45px;
          z-index: -1;
        }
      }

      &.two {
        background-color: #8beff1;
      }

      &.three {
        border-radius: 24px;
        background-color: #9effd8;
      }
    }

    .highlight {
      position: relative;
      display: inline-block;
      white-space: nowrap;

      .text {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 3px;
        left: 0;
        z-index: 0;
        background-color: #9effd8;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-how-it-works {
    #steps {
      margin-top: 30px;
    }

    .step-box {
      text-align: center;
      padding: 20px 40px;
    }
  }
}
