@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#section-edit-artwork {
  background-color: $gray-ultra-light;
  padding: 64px 0;
  font-size: 0.9rem;
  position: relative;

  .doodle-background {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .doodle-frame {
    display: inline-block;
    box-shadow: 16px 16px 32px 0 rgba(0, 0, 0, 0.1);
  }

  .artwork-options-wrapper {
    margin-bottom: 32px;
  }

  h3 {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .btn {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .artwork-option-slider-wrapper {
    max-width: 320px;
  }

  .box-options-selector {
    .option {
      cursor: pointer;
      display: inline-block;
      background-color: #ffffff;
      padding: 12px 16px;
      box-shadow: 0 1px 0 0 #d4d8de;
      border-radius: 2px;
      border-radius: 2px;
      margin-right: 16px;

      &:hover {
        box-shadow: 0 1px 0 0 $gray-medium;
      }

      &.selected {
        color: white;
        background-color: $gray-medium;
      }
    }
  }

  .box-options-selector {
    .option {
      cursor: pointer;
      display: inline-block;
      background-color: #ffffff;
      padding: 12px 16px;
      box-shadow: 0 1px 0 0 #d4d8de;
      border-radius: 2px;
      border-radius: 2px;
      margin-right: 16px;

      &:hover {
        box-shadow: 0 1px 0 0 $gray-medium;
      }

      &.selected {
        color: white;
        background-color: $gray-medium;
      }
    }
  }

  .buttons-wrapper {
    margin-top: 80px;
  }
}

@include media-breakpoint-down(md) {
  #section-edit-artwork {
    .doodle-wrapper {
      display: flex;
      justify-content: center;
    }

    .doodle-frame {
      display: inline-block;
      box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
    }

    .box-options-selector {
      .option {
        margin-bottom: 16px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-edit-artwork {
    .doodle-background {
      display: none;
    }

    .doodle-frame {
      box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@include media-breakpoint-down(xs) {
  #section-edit-artwork {
    .artwork-options-wrapper {
      margin: 0 24px;
    }
  }
}
