@import "../styles/colors.scss";

#section-edit-artwork {
  background-color: $gray-ultra-light;
  padding: 64px 0;

  h2 {
    color: #111300;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .btn {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .artwork-option-slider-wrapper {
    max-width: 320px;
  }
}

.box-options-selector {
  .option {
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    padding: 12px 16px;
    box-shadow: 0 1px 0 0 #d4d8de;
    border-radius: 2px;
    border-radius: 2px;
    margin-right: 16px;

    &:hover {
      box-shadow: 0 1px 0 0 $gray-medium;
    }

    &.selected {
      color: white;
      background-color: $gray-medium;
    }
  }
}
