/* Primary colors */
$blue-medium: #326dc9;
$navy: #1b4075;
$blue-dark: #275aa6;
$blue: #3e8bff;
$blue-medium-light: #367de6;
$blue-light: #95bfff;
$blue-medium-ultra-light: #70a8ff;
$blue-ultra-light: #e9f1ff;

$gray-dark: #232529;
$gray-medium: #646d7b;
$gray: #98a0af;
$gray-light: #ced3d9;
$gray-medium-light: #bec4cd;
$gray-ultra-light: #f8f9fa;

/* Secondary */
$lime-medium: #32cb8d;
$lime-dark: #1b7b55;
$lime-light: #9effd8;
$lime-ultra-light: #edffed;
$lime: #3fffb2;

$pink-medium: #ca316d;
$pink-dark: #781b42;
$pink: #ff3d8b;
$pink-light: #ffa1c6;
$pink-ultra-light: #ffecf3;

$aqua-medium: #30bbcb;
$aqua-dark: #1b7179;
$aqua-light: #97f4ff;
$aqua-ultra-light: #e8fcff;
$aqua: #3eecff;

/* Tertiary */
$red-medium: #ca3f31;
$red-dark: #78261e;
$red: #ff513c;
$red-light: #fea79e;
$red-ultra-light: #feeeec;

$yellow-medium: #c3b027;
$yellow-dark: #766c12;
$yellow: #f5dd32;
$yellow-light: #f9f282;
$yellow-ultra-light: #fdfedd;

$lemon-medium: #bdca32;
$lemon-dark: #737b1d;
$lemon: #ecff3d;
$lemon-light: #f4ff97;
$lemon-ultra-light: #fcffe9;

$green-medium: #32cb40;
$green-dark: #1a7b26;
$green: #3fff50;
$green-light: #a1ffaa;
$green-ultra-light: #edffed;

$indigo-medium: #3f2ec8;
$indigo-dark: #221d73;
$indigo: #513dff;
$indigo-light: #aaa1ff;
$indigo-ultra-light: #eeecff;

$fuschia-medium: #ca31ba;
$fuschia-dark: #781b70;
$fuschia: #ff3cec;
$fuschia-light: #ffa2f5;
$fuschia-ultra-light: #ffecfd;

$purple-medium: #8b30c9;
$purple-dark: #521d76;
$purple: #b13fff;
$purple-light: #d89fff;
$purple-ultra-light: #f7ebff;
