/*	Index

	1. Typebold Framework Settings
		A. Reset CSS

	2. Custom Page Settings
		A. About
		B. Gallery V1
		C. Gallery V2
		D. Gallery V3
		E. Project Single
		F. Journal
		G. Journal Single
*/
/*	1A. Reset CSS
  ----------------------------------------------------------------------------------  */
@import "./bootstrap-grid-custom.scss";

/* TODO: purchase Avenir Light webfont license */
@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/avenir-light-webfont.woff2");
}

html {
  font-size: 18px;
}

body {
  font-family: "Avenir Light", "Nunito Sans", sans-serif;
  line-height: 1.5;
  color: #646d7b;
}

a {
  text-decoration: none;
  color: #646d7b;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

img {
  max-width: 100%;
}

/* Button */
button {
  font-family: "Avenir Light", "Nunito Sans", sans-serif;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  color: white;
  background-color: black;
  padding: 15px 25px;
  border-radius: 2px;

  &.white {
    color: #232529;
    background-color: white;
  }
}

@include media-breakpoint-down(sm) {
  body {
  }
}
