@import "./bootstrap-grid-custom.scss";
@import "./colors.scss";

/* TODO: purchase Avenir Light webfont license */
@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/avenir-light-webfont.woff2");
}

html {
  font-size: 18px;
}

body {
  font-family: "Avenir Light", "Nunito Sans", sans-serif;
  line-height: 1.5;
  color: $gray-medium;
}

@include media-breakpoint-down(sm) {
  .container.container-fluid-on-mobile {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

a {
  text-decoration: none;
  color: $gray-medium;

  &:hover {
    color: $gray-dark;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

img {
  max-width: 100%;
}

/* Button */
button {
  font-family: "Avenir Light", "Nunito Sans", sans-serif;
}

.btn-icon {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  color: white;
  background-color: $gray-dark;
  padding: 16px 32px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: white;
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.15);
  }

  &.green {
    color: black;
    background-color: #3fffb2;
  }

  &.white {
    color: $gray-dark;
    background-color: white;
  }
}

@include media-breakpoint-down(sm) {
  body {
  }
}

/* Font Icons */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
