@import "../components/bootstrap-grid-custom.scss";

#page-main {
  .gray-background {
    background-color: #fafafa;
    margin: 0 40px;
    padding: 100px 0;
  }

  .subheading {
    display: block;
    margin-bottom: 20px;
  }

  h3,
  h4 {
    font-size: 2.33rem;
    line-height: 1.3;
  }
}

@include media-breakpoint-down(sm) {
  #page-main {
    .gray-background {
      margin: 0 20px;
      padding: 60px 0;
    }

    h3 {
      font-size: 2rem;
    }
  }
}

#section-hero {
  .hero-background {
    background: url("/images/hero_image.png") no-repeat center right;
    background-size: 450px;
    width: 100%;
    padding: 260px 0;
  }

  .hero-text {
    font-size: 2.67rem;
    line-height: 1.3;
    font-weight: 200;
    color: #646d7b;
  }

  .hero-actions {
    margin-top: 50px;

    .btn-action {
      font-size: 1rem;
      display: inline-block;
      color: white;
      background-color: black;
      padding: 15px 25px;
      border-radius: 2px;
    }
  }
}

@include media-breakpoint-down(md) {
  #section-hero {
    .hero-background {
      background: url("/images/hero_image.png") no-repeat center right;
      background-size: 420px;
      width: 100%;
      padding: 260px 0;
    }

    .hero-text {
      font-size: 2.4rem;
    }

    .hero-actions {
      margin-top: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-hero {
    .hero-background {
      background: url("/images/hero_image.png") no-repeat top center;
      background-size: 60%;
      width: 100%;
      padding: 500px 0 80px 0;
    }

    .hero-text {
      font-size: 1.9rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hero-background {
    background: url("/images/hero_image.png") no-repeat bottom center;
    background-size: 380px;
    padding: 60px 0 600px 0;
  }
}

#section-how-it-works {
  h3 {
    text-align: center;
  }

  #steps {
    margin-top: 40px;
  }

  .step-box {
    text-align: center;
    padding: 20px 60px;

    .step-number {
      color: #121212;
      font-size: 1.3rem;
      display: inline-flex;
      width: 48px;
      height: 48px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &.one {
        position: relative;
        overflow: hidden;
        z-index: 0;

        &:before {
          content: "";
          width: 80px;
          height: 80px;
          background-color: #fca5b8;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          top: 12px;
          left: -45px;
          z-index: -1;
        }
      }

      &.two {
        background-color: #8beff1;
      }

      &.three {
        border-radius: 24px;
        background-color: #9effd8;
      }
    }

    .highlight {
      position: relative;
      display: inline-block;
      white-space: nowrap;

      .text {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 3px;
        left: 0;
        z-index: 0;
        background-color: #9effd8;
      }
    }
  }

  #demo {
    margin-top: 80px;

    #demo-artwork {
      background-color: #ffffff;
      box-shadow: 73px 75px 142px 0 rgba(8, 24, 34, 0.16);
      border-radius: 12px;
      padding: 60px 45px;
      max-width: 300px;
      margin: 0 auto;
    }

    #demo-controls {
      margin-top: 70px;

      p {
        position: relative;
        margin-top: 24px;

        img.demo-arrow {
          position: absolute;
          top: 16px;
          left: -60px;
        }
      }

      .color-palette {
        margin-top: 40px;

        .color-picker-box {
          margin-right: 32px;
        }
      }

      .btn-redraw {
        color: #232529;
        display: inline-block;
        margin-top: 40px;
        padding: 14px 50px;
        background: #ffffff;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        border-radius: 2px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-how-it-works {
    h3 {
      text-align: center;
    }

    #steps {
      margin-top: 30px;
    }

    .step-box {
      text-align: center;
      padding: 20px 40px;
    }

    #demo {
      margin-top: 60px;

      #demo-artwork {
      }

      #demo-controls {
        margin-top: 70px;

        p {
          position: relative;
          margin-top: 24px;
        }

        .color-palette {
          margin-top: 40px;

          .color-picker-box {
            margin-right: 32px;
          }
        }

        .btn-redraw {
          display: inline-block;
          margin-top: 40px;
          padding: 12px 40px;
          border: 2px solid #979797;
        }
      }
    }
  }
}

#section-browse-artwork {
  margin-top: 40px;

  .artwork-images-row {
    margin-top: 40px;
  }
}

#section-example-uses {
  padding-top: 100px;

  h3,
  .subheading {
    text-align: center;
  }

  h4 {
    margin-top: 120px;

    span.number {
      color: #e1e1e1;
      display: block;
      font-size: 4rem;
      font-weight: 300;
      letter-spacing: -4px;
    }
  }

  .example-use-image-wrapper {
    max-width: 1440px;
    margin: 56px auto 0 auto;

    img {
      width: 100%;
    }
  }

  #uses-endless-possibilities {
    margin-top: 50px;
    text-align: center;

    h4 {
      color: #666666;
      font-size: 3rem;
    }

    p {
      margin-top: 20px;
    }
  }
}

#section-built-by {
  padding: 120px 0 80px 0;

  p {
    margin-top: 30px;
  }

  .people {
    margin-top: 30px;

    .names {
      color: #111111;
      font-weight: bold;
    }
  }
}

#section-try-for-free {
  text-align: center;

  .black-background {
    background-color: #111111;
    margin: 0 40px;
    padding: 100px 0;
  }

  p.message {
    padding: 0 240px;
    font-size: 3rem;
    line-height: 1.4;
  }
}
