@import "../components/bootstrap-grid-custom.scss";

#page-main {
  .gray-background {
    background-color: #fafafa;
    margin: 0 40px;
    padding: 100px 0;
  }

  .subheading {
    display: block;
    margin-bottom: 20px;
  }

  h3,
  h4 {
    font-size: 2.33rem;
    line-height: 1.3;
  }
}

@include media-breakpoint-down(sm) {
  #page-main {
    .gray-background {
      margin: 0 20px;
      padding: 60px 0;
    }

    h3,
    h4 {
      font-size: 1.6rem;
    }
  }
}

#section-hero {
  .hero-text {
    font-size: 2.67rem;
    line-height: 1.3;
    font-weight: 200;
    color: #646d7b;
  }

  .hero-actions {
    margin-top: 50px;
  }

  #hero-doodle {
    width: 466px;
    height: 699px;
  }
}

@include media-breakpoint-down(md) {
  #section-hero {
    .hero-text {
      font-size: 2.4rem;
    }

    .hero-actions {
      margin-top: 30px;
    }

    #hero-doodle {
      width: 366px;
      height: 549px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-hero {
    padding-bottom: 80px;

    .hero-text {
      font-size: 1.9rem;
    }

    #hero-doodle {
      width: 320px;
      height: 480px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hero-background {
    background: url("/images/hero_image.png") no-repeat bottom center;
    background-size: 380px;
    padding: 60px 0 600px 0;
  }
}

#section-how-it-works {
  h3 {
    text-align: center;
  }

  #steps {
    margin-top: 40px;
  }

  .step-box {
    text-align: center;
    padding: 20px 60px;

    .step-number {
      color: #121212;
      font-size: 1.3rem;
      display: inline-flex;
      width: 48px;
      height: 48px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &.one {
        position: relative;
        overflow: hidden;
        z-index: 0;

        &:before {
          content: "";
          width: 80px;
          height: 80px;
          background-color: #fca5b8;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          top: 12px;
          left: -45px;
          z-index: -1;
        }
      }

      &.two {
        background-color: #8beff1;
      }

      &.three {
        border-radius: 24px;
        background-color: #9effd8;
      }
    }

    .highlight {
      position: relative;
      display: inline-block;
      white-space: nowrap;

      .text {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 3px;
        left: 0;
        z-index: 0;
        background-color: #9effd8;
      }
    }
  }

  #demo {
    margin-top: 80px;

    #demo-artwork {
      background-color: #ffffff;
      box-shadow: 73px 75px 142px 0 rgba(8, 24, 34, 0.16);
      border-radius: 12px;
      padding: 60px 45px;
      max-width: 300px;
      margin: 0 auto;
    }

    #demo-controls {
      margin-top: 70px;

      p {
        position: relative;
        margin-top: 24px;

        img.demo-arrow {
          position: absolute;
          top: 16px;
          left: -60px;
        }
      }

      .color-palette {
        margin-top: 40px;

        .color-picker-box {
          margin-right: 32px;
        }
      }

      .btn-redraw {
        font-size: 1rem;
        color: #232529;
        display: inline-block;
        cursor: pointer;
        padding: 14px 50px;
        margin-top: 40px;
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-how-it-works {
    #steps {
      margin-top: 30px;
    }

    .step-box {
      text-align: center;
      padding: 20px 40px;
    }

    #demo {
      margin-top: 60px;

      #demo-controls {
        margin-top: 70px;

        p {
          position: relative;
          margin-top: 24px;
        }

        .color-palette {
          margin-top: 40px;

          .color-picker-box {
            margin-right: 32px;
          }
        }

        .btn-redraw {
        }
      }
    }
  }
}

#section-browse-artwork {
  margin-top: 40px;

  .artwork-images-row {
    margin-top: 40px;
  }
}

#section-example-uses {
  padding-top: 100px;

  h3,
  .subheading {
    text-align: center;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 120px;

    span.number {
      color: #e1e1e1;
      display: block;
      font-size: 3.3rem;
      font-weight: 300;
    }
  }

  .example-use-image-wrapper {
    line-height: 0;
    max-width: 1440px;
    margin: 56px auto 0 auto;

    img {
      width: 100%;
    }
  }

  #uses-endless-possibilities {
    margin-top: 50px;
    text-align: center;

    h3 {
      margin-top: 120px;
    }

    p {
      margin-top: 20px;
    }

    .image-wrapper {
      margin-top: 80px;
      line-height: 0;
    }
  }
}

#section-testimonials {
  background-color: rgba(248, 249, 250, 0.6);
  margin: 40px;
  padding: 160px 0;
  text-align: center;

  h3 {
    font-size: 1rem;
  }

  blockquote {
    p {
      font-size: 2.33rem;
      margin-top: 24px;
    }

    .author {
      color: #232529;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 1px solid #ced3d9;
      margin-top: 48px;
    }

    .role {
      display: block;
      margin-top: 24px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-testimonials {
    margin: 0;
    padding: 80px 24px;

    h3 {
      margin-top: 40px;
    }

    blockquote {
      p {
        font-size: 1.4rem;
        margin-top: 16px;
      }

      .author {
        margin-top: 32px;
      }

      .role {
        display: block;
        margin-top: 16px;
      }
    }
  }
}

#section-built-by {
  padding: 80px 0;

  p {
    margin-top: 30px;
  }

  .people {
    margin-top: 30px;

    .names {
      color: #111111;
      font-weight: bold;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-built-by {
    padding: 0 0 60px 0;

    h3 {
      margin-top: 60px;
    }

    .image-wrapper {
      margin-top: 40px;
    }
  }
}

#section-try-for-free {
  text-align: center;

  .black-background {
    background-color: #111111;
    margin: 0 40px;
    padding: 100px 0;
  }

  p.message {
    padding: 0 240px;
    font-size: 2.33rem;
    line-height: 1.4;
  }

  .btn {
    margin-top: 48px;
  }
}

@include media-breakpoint-down(sm) {
  #section-try-for-free {
    .black-background {
      background-color: #111111;
      margin: 0;
      padding: 80px 0;
    }

    p.message {
      padding: 0 40px;
      font-size: 1.4rem;
    }

    .btn {
      margin-top: 30px;
    }
  }
}

#section-submit-artwork {
  padding: 120px 0;
  margin: 40px;
  background-color: rgba(248, 249, 250, 0.6);
  text-align: center;

  p {
    margin-top: 32px;
  }

  .btn {
    margin-top: 48px;
  }
}

@include media-breakpoint-down(sm) {
  #section-submit-artwork {
    padding: 64px 24px;
    margin: 0;
  }
}
