@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#page-main {
  .gray-background {
    background-color: #fafafa;
    margin: 0 40px;
    padding: 100px 0;
  }

  .subheading {
    display: block;
    margin-bottom: 20px;
  }

  h3,
  h4 {
    color: $gray-dark;
    font-size: 2.33rem;
    line-height: 1.3;
  }

  [class^="circle-"] {
    border-radius: 50%;
  }
}

@include media-breakpoint-down(sm) {
  #page-main {
    .gray-background {
      margin: 0;
      padding: 60px 0;
    }

    h3,
    h4 {
      font-size: 1.6rem;
    }
  }
}

#section-example-uses {
  padding-top: 64px;
  background-color: $gray-dark;

  h3,
  .subheading {
    text-align: center;
  }

  .subheading {
    color: $gray;
  }

  h3 {
    color: $gray-light;
    margin-bottom: 48px;
  }

  .image-wrapper {
    line-height: 0;
  }
}

#section-testimonials {
  display: none;
  background-color: rgba(248, 249, 250, 0.6);
  margin: 40px;
  padding: 160px 0;
  text-align: center;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .rectangle-1 {
      position: absolute;
      top: -20%;
      left: -4%;
      width: 640px;
      height: 640px;
      opacity: 0.5;
      background-color: #97f4ff;
      border-radius: 90px;
      transform: rotate(45deg);
    }

    .circle-1 {
      position: absolute;
      top: 10%;
      right: 20%;
      width: 40px;
      height: 40px;
      background-color: #ff513c;
      animation: circle-1 8s linear infinite;
    }

    @keyframes circle-1 {
      0% {
        top: 10%;
        right: 20%;
      }
      50% {
        top: 20%;
        right: 28%;
      }
      100% {
        top: 10%;
        right: 20%;
      }
    }

    .circle-2 {
      position: absolute;
      bottom: 30%;
      right: 10%;
      width: 112px;
      height: 112px;
      background-color: #32cb8d;
      animation: circle-2 4s linear infinite;
    }

    @keyframes circle-2 {
      0% {
        bottom: 30%;
      }
      50% {
        bottom: 22%;
      }
      100% {
        bottom: 30%;
      }
    }

    .circle-3 {
      position: absolute;
      bottom: -24px;
      right: 60%;
      width: 144px;
      height: 144px;
      border: 40px solid #513dff;
      animation: circle-3 12s linear infinite;
    }

    @keyframes circle-3 {
      0% {
        right: 60%;
        bottom: -24px;
      }

      50% {
        right: 44%;
        bottom: -72px;
      }

      100% {
        right: 60%;
        bottom: -24px;
      }
    }
  }

  h3 {
    font-size: 1rem;
  }

  blockquote {
    p {
      font-size: 2.33rem;
      margin-top: 24px;
    }

    .author {
      color: $gray-dark;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray-light;
      margin-top: 48px;
    }

    .role {
      display: block;
      margin-top: 24px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-testimonials {
    margin: 0;
    padding: 80px 24px;

    h3 {
      margin-top: 40px;
    }

    blockquote {
      p {
        font-size: 1.4rem;
        margin-top: 16px;
      }

      .author {
        margin-top: 32px;
      }

      .role {
        display: block;
        margin-top: 16px;
      }
    }
  }
}

#section-built-by {
  padding: 120px 0;
  background-color: $gray-dark;

  .subheading {
    color: $gray;
  }

  h3 {
    color: $gray-light;
  }

  p {
    color: $gray;
    margin-top: 30px;
  }

  .people {
    margin-top: 30px;

    .names {
      font-weight: bold;
    }
  }

  .link-underline {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid $lime-medium;
    color: $gray-ultra-light;

    &:hover {
      color: white;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-built-by {
    padding: 40px 0;

    .text-content {
      margin-top: 40px;
    }

    .image-wrapper {
      margin-top: 40px;
    }
  }
}

#section-try-for-free {
  text-align: center;
  position: relative;
  background: $gray-dark;
  padding-bottom: 120px;

  .message-wrapper {
    border-top: 1px solid $gray-medium;
    padding: 120px 0 48px 0;
    display: flex;
    justify-content: center;

    p.message {
      color: $gray-light;
      font-size: 2.33rem;
      line-height: 1.4;
      max-width: 640px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-try-for-free {
    padding-bottom: 64px;

    .dark-background {
      margin: 0;
    }

    .message-wrapper {
      border-top: 1px solid $gray-medium;
      padding: 48px 24px 40px 24px;
      display: flex;
      justify-content: center;

      p.message {
        color: $gray-light;
        font-size: 1.4rem;
        max-width: 640px;
      }
    }
  }
}

#section-submit-artwork {
  display: none;
  padding: 120px 0;
  margin: 40px;
  background-color: rgba(248, 249, 250, 0.6);
  text-align: center;
  position: relative;

  p {
    margin-top: 32px;
  }

  .btn {
    margin-top: 48px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .inner-background {
      width: calc(100% - 176px);
      height: 100%;
      margin: 0 88px;
      position: relative;
      overflow: hidden;

      .circle-5 {
        position: absolute;
        bottom: 80px;
        width: 160px;
        height: 160px;
        background-color: #c3b027;
        animation: circle-5 6s linear infinite;
      }

      @keyframes circle-5 {
        0% {
          bottom: 80px;
        }

        50% {
          bottom: 160px;
        }

        100% {
          bottom: 80px;
        }
      }

      .circle-6 {
        position: absolute;
        left: -160px;
        bottom: -240px;
        width: 320px;
        height: 320px;
        background-color: #1b4075;
        animation: circle-6 6s linear infinite;
      }

      @keyframes circle-6 {
        0% {
          bottom: -240px;
        }

        50% {
          bottom: -160px;
        }

        100% {
          bottom: -240px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-submit-artwork {
    padding: 64px 24px;
    margin: 0;

    .background {
      .inner-background {
        margin: 0;
      }
    }
  }
}
