@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#page-main {
  .gray-background {
    background-color: #fafafa;
    margin: 0 40px;
    padding: 100px 0;
  }

  .subheading {
    display: block;
    margin-bottom: 20px;
  }

  h3,
  h4 {
    font-size: 2.33rem;
    line-height: 1.3;
  }

  [class^="circle-"] {
    border-radius: 50%;
  }
}

@include media-breakpoint-down(sm) {
  #page-main {
    .gray-background {
      margin: 0;
      padding: 60px 0;
    }

    h3,
    h4 {
      font-size: 1.6rem;
    }
  }
}

#section-browse-artwork {
  margin-top: 40px;
}

#section-example-uses {
  padding-top: 100px;

  h3,
  .subheading {
    text-align: center;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 120px;

    span.number {
      color: #e1e1e1;
      display: block;
      font-size: 3.3rem;
      font-weight: 300;
    }
  }

  .example-use-image-wrapper {
    line-height: 0;
    max-width: 1440px;
    margin: 56px auto 0 auto;

    img {
      width: 100%;
    }
  }

  .example-images {
    max-width: 1520px;
    padding: 0 40px;
    margin: 80px auto;

    .image-wrapper {
      margin-top: 32px;
      line-height: 0;
    }
  }
}

#section-testimonials {
  background-color: rgba(248, 249, 250, 0.6);
  margin: 40px;
  padding: 160px 0;
  text-align: center;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @-moz-keyframes rotate {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes rotate {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes rotate {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .rectangle-1 {
      position: absolute;
      top: 0;
      left: -8%;
      width: 640px;
      height: 640px;
      opacity: 0.5;
      background-color: #97f4ff;
      border-radius: 90px;
      -webkit-animation: rotate 8s linear infinite;
      -moz-animation: rotate 8s linear infinite;
      animation: rotate 8s linear infinite;
    }

    .circle-1 {
      position: absolute;
      top: 10%;
      right: 20%;
      width: 40px;
      height: 40px;
      background-color: #ff513c;
      animation: circle-1 8s linear infinite;
    }

    @keyframes circle-1 {
      0% {
        top: 10%;
        right: 20%;
      }
      50% {
        top: 20%;
        right: 28%;
      }
      100% {
        top: 10%;
        right: 20%;
      }
    }

    .circle-2 {
      position: absolute;
      bottom: 30%;
      right: 10%;
      width: 112px;
      height: 112px;
      background-color: #32cb8d;
      animation: circle-2 4s linear infinite;
    }

    @keyframes circle-2 {
      0% {
        bottom: 30%;
      }
      50% {
        bottom: 22%;
      }
      100% {
        bottom: 30%;
      }
    }

    .circle-3 {
      position: absolute;
      bottom: -24px;
      right: 60%;
      width: 144px;
      height: 144px;
      border: 40px solid #513dff;
      animation: circle-3 12s linear infinite;
    }

    @keyframes circle-3 {
      0% {
        right: 60%;
        bottom: -24px;
      }

      50% {
        right: 44%;
        bottom: -72px;
      }

      100% {
        right: 60%;
        bottom: -24px;
      }
    }
  }

  h3 {
    font-size: 1rem;
  }

  blockquote {
    p {
      font-size: 2.33rem;
      margin-top: 24px;
    }

    .author {
      color: $gray-dark;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray-light;
      margin-top: 48px;
    }

    .role {
      display: block;
      margin-top: 24px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-testimonials {
    margin: 0;
    padding: 80px 24px;

    h3 {
      margin-top: 40px;
    }

    blockquote {
      p {
        font-size: 1.4rem;
        margin-top: 16px;
      }

      .author {
        margin-top: 32px;
      }

      .role {
        display: block;
        margin-top: 16px;
      }
    }
  }
}

#section-built-by {
  padding: 80px 0;

  p {
    margin-top: 30px;
  }

  .people {
    margin-top: 30px;

    .names {
      color: #111111;
      font-weight: bold;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-built-by {
    padding: 0 0 60px 0;

    h3 {
      margin-top: 60px;
    }

    .image-wrapper {
      margin-top: 40px;
    }
  }
}

#section-try-for-free {
  text-align: center;
  position: relative;

  .dark-background {
    background-color: $gray-dark;
    margin: 0 40px;
    padding: 100px 0;
  }

  p.message {
    padding: 0 240px;
    font-size: 2.33rem;
    line-height: 1.4;
  }

  .btn {
    margin-top: 48px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .circle-4 {
      position: absolute;
      right: 15%;
      bottom: -160px;
      width: 320px;
      height: 320px;
      background-color: #86f1f2;
      animation: circle-4 8s linear infinite;
    }

    @keyframes circle-4 {
      0% {
        right: 15%;
        bottom: -160px;
      }

      50% {
        right: 10%;
        bottom: -72px;
      }

      100% {
        right: 15%;
        bottom: -160px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-try-for-free {
    .dark-background {
      margin: 0;
      padding: 80px 0;
    }

    p.message {
      padding: 0 40px;
      font-size: 1.4rem;
    }

    .btn {
      margin-top: 32px;
    }
  }
}

#section-submit-artwork {
  padding: 120px 0;
  margin: 40px;
  background-color: rgba(248, 249, 250, 0.6);
  text-align: center;
  position: relative;

  p {
    margin-top: 32px;
  }

  .btn {
    margin-top: 48px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .inner-background {
      width: calc(100% - 176px);
      height: 100%;
      margin: 0 88px;
      position: relative;
      overflow: hidden;

      .circle-5 {
        position: absolute;
        bottom: 80px;
        width: 160px;
        height: 160px;
        background-color: #c3b027;
        animation: circle-5 6s linear infinite;
      }

      @keyframes circle-5 {
        0% {
          bottom: 80px;
        }

        50% {
          bottom: 160px;
        }

        100% {
          bottom: 80px;
        }
      }

      .circle-6 {
        position: absolute;
        left: -160px;
        bottom: -240px;
        width: 320px;
        height: 320px;
        background-color: #1b4075;
        animation: circle-6 6s linear infinite;
      }

      @keyframes circle-6 {
        0% {
          bottom: -240px;
        }

        50% {
          bottom: -160px;
        }

        100% {
          bottom: -240px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section-submit-artwork {
    padding: 64px 24px;
    margin: 0;

    .background {
      .inner-background {
        margin: 0;
      }
    }
  }
}
