#page-main {
  .gray-background {
    background-color: #fafafa;
    margin: 0 40px;
    padding: 100px 0;
  }

  .subheading {
    display: block;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 3rem;
    line-height: 1.4;
  }
}

#section-hero {
  .hero-background {
    background: url("/images/hero_image.png") no-repeat center right;
    padding: 100px 0;
  }

  .hero-text {
    font-size: 3rem;
    line-height: 1.4;
  }

  .hero-actions {
    margin-top: 50px;

    .btn-action,
    .btn-watch-video {
      font-size: 1rem;
      display: inline-block;
      padding: 10px 20px;
    }

    .btn-action {
      color: white;
      background-color: black;
    }

    .btn-watch-video {
      /* Nothing yet */
    }
  }
}

#section-how-it-works {
  h3 {
    text-align: center;
  }

  #steps {
    margin-top: 40px;
  }

  .step-box {
    .step-number {
      color: #121212;
      display: inline-flex;
      width: 48px;
      height: 48px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &.one {
        background-color: #fca5b8;
      }

      &.two {
        background-color: #8beff1;
      }

      &.three {
        border-radius: 24px;
        background-color: #f7de7a;
      }
    }

    text-align: center;
    padding: 20px 60px;
  }

  #demo {
    margin-top: 80px;

    #demo-artwork {
      background-color: #ffffff;
      box-shadow: 73px 75px 142px 0 rgba(8, 24, 34, 0.16);
      border-radius: 12px;
      padding: 80px 45px;
    }

    #demo-controls {
      margin-top: 70px;

      h4 {
        font-size: 3rem;
        text-align: left;
      }

      p {
        position: relative;
        margin-top: 24px;

        img.demo-arrow {
          position: absolute;
          top: 16px;
          left: -60px;
        }
      }

      .color-palette {
        margin-top: 40px;

        .color-picker-box {
          margin-right: 32px;
        }
      }

      .btn-redraw {
        display: inline-block;
        margin-top: 40px;
        padding: 12px 40px;
        border: 2px solid #979797;
      }
    }
  }
}

#section-browse-artwork {
  margin-top: 40px;

  .artwork-images-row {
    margin-top: 40px;
  }
}

#section-example-uses {
  h3,
  .subheading {
    text-align: center;
  }
}
