@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#section-footer {
  font-size: 0.9rem;
  padding: 80px 0 120px 0;

  h5 {
    color: $gray-dark;
  }

  p {
    margin-top: 24px;
  }

  ul.footer-menu {
    margin-top: 12px;

    li {
      a {
        color: #888888;
        display: block;
        padding: 12px 0;
      }
    }
  }

  .email-input-wrapper {
    display: flex;
    margin-top: 24px;

    input[type="email"],
    button {
      font-size: 0.9rem;
      padding: 17px 17px;
      border: 1px solid $gray-light;
      border-right: none;
    }

    input[type="email"] {
      flex-grow: 1;
    }

    button {
      display: block;
      color: white;
      background-color: black;
      border: none;
    }
  }

  .color-pink {
    color: $pink;
  }
}

@include media-breakpoint-down(sm) {
  #section-footer {
    padding: 16px 0 40px 0;

    h5 {
      margin-top: 32px;
    }

    p {
      margin-top: 8px;
    }

    ul.footer-menu {
      margin-top: 4px;

      li {
        a {
          color: #888888;
          display: block;
          padding: 4px 0;
        }
      }
    }

    .email-input-wrapper {
      display: flex;
      margin: 24px 0;
    }
  }
}
