@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#header {
  font-size: 0.9rem;
  padding: 16px 0;
  position: relative;
  overflow: visible;
  z-index: 1;

  h1 {
    color: $gray-dark;
  }

  .btn-close {
    color: $gray-medium;

    &:hover {
      color: $gray-dark;
    }
  }

  #logo {
    img {
      display: inline-block;
      margin-top: 4px;
      width: 56px;
    }
  }

  ul#page-navigation {
    display: inline-block;

    li {
      display: inline-block;
      padding: 12px 20px;
    }
  }

  #mobile-menu-wrapper {
    display: none;
    background: white;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
  }

  ul#mobile-menu {
    text-align: center;

    li {
      padding: 24px 16px;
    }
  }

  .btn-action {
    color: $gray-dark;
    padding: 8px 0;
    border-bottom: 4px solid #34ca8d;

    &:hover {
      color: #34ca8d;
    }
  }

  .edit-artwork-actions-wrapper {
    #btn-redraw {
      background-color: $gray-medium;
      margin-right: 16px;
    }

    #btn-export {
      background: $gray-dark;
    }

    .btn {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      font-size: 0.9rem;

      i.material-icons {
        font-size: 0.9rem;
        padding-right: 8px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #header {
    ul#page-navigation {
      li {
        padding: 12px 14px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #header {
    #logo {
      img {
        display: inline-block;
        margin-top: 4px;
        width: 40px;
      }
    }

    ul#page-navigation {
      display: none;
    }

    #mobile-menu-wrapper {
      display: block;
    }

    .edit-artwork-actions-wrapper {
      #btn-redraw {
        margin-right: 8px;
      }

      .btn {
        padding: 8px;

        i.material-icons {
          font-size: 1rem;
          padding-right: 0;
        }

        span.text {
          display: none;
        }
      }
    }
  }
}
