@import "./bootstrap-grid-custom.scss";

#header {
  font-size: 0.9rem;
  padding: 16px 0;

  #logo {
    img {
      display: inline-block;
      margin-top: 4px;
      width: 56px;
    }
  }

  .btn-action {
    margin-top: 10px;
  }
}

ul#page-navigation {
  display: inline-block;
  margin-top: 10px;

  li {
    display: inline-block;
    padding: 12px 20px;
  }
}

.btn-action {
  color: white;
  background-color: #232529;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 2px;
  border-radius: 2px;
}

@include media-breakpoint-down(md) {
  ul#page-navigation {
    li {
      padding: 12px 14px;
    }
  }
}

@include media-breakpoint-down(sm) {
  ul#page-navigation {
    display: none;
  }
}
