#header {
  font-size: 0.9rem;
  padding: 16px 0;

  #logo {
    img {
      display: inline-block;
      margin-top: 4px;
      width: 40px;
    }
  }
}

ul#page-navigation {
  display: inline-block;

  li {
    display: inline-block;
    padding: 10px 20px;
  }
}

#top-right-menu {
  display: inline-block;

  li {
    display: inline-block;
    padding: 10px 20px;

    &.btn-action {
      color: white;
      background-color: black;
      margin-left: 20px;
    }
  }
}
