@import "../styles/bootstrap-grid-custom.scss";
@import "../styles/colors.scss";

#header {
  font-size: 0.9rem;
  padding: 16px 0;
  position: relative;
  overflow: visible;
  z-index: 1;

  h1 {
    color: $gray-dark;
  }

  .btn-close {
    color: $gray-medium;

    &:hover {
      color: $gray-dark;
    }
  }

  #logo {
    img {
      display: inline-block;
      margin-top: 4px;
      width: 56px;
    }
  }

  ul#page-navigation {
    display: inline-block;

    li {
      display: inline-block;
      padding: 12px 20px;
    }
  }

  #mobile-menu-wrapper {
    background: white;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
  }

  ul#mobile-menu {
    text-align: center;

    li {
      padding: 24px 16px;
    }
  }

  .btn-action {
    color: $gray-dark;
    padding: 8px 0;
    border-bottom: 4px solid #34ca8d;

    &:hover {
      color: #34ca8d;
    }
  }
}

@include media-breakpoint-down(md) {
  #header {
    ul#page-navigation {
      li {
        padding: 12px 14px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #header {
    #logo {
      img {
        display: inline-block;
        margin-top: 4px;
        width: 40px;
      }
    }

    ul#page-navigation {
      display: none;
    }
  }
}
