/*	Index

	1. Typebold Framework Settings
		A. Reset CSS

	2. Custom Page Settings
		A. About
		B. Gallery V1
		C. Gallery V2
		D. Gallery V3
		E. Project Single
		F. Journal
		G. Journal Single
*/
/*	1A. Reset CSS
  ----------------------------------------------------------------------------------  */
@import "./bootstrap-grid-custom.scss";

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
  color: #666666;
}

a {
  text-decoration: none;
  color: #666666;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

img {
  max-width: 100%;
}

@include media-breakpoint-down(sm) {
  body {
  }
}
